/* .intro {
    background-image: url("./images/header-shapes\ mobile.svg");
    background-repeat: no-repeat;
} */

a {
  text-decoration: none;
}

@media screen and (min-width: 786px) {
  .cards {
    display: none;
  }

  .desktop-container {
    margin-top: 400px;
  }

  .intro {
    height: 650px;
    width: 1000px;

    /* border: 1px solid white;
    border-radius: 0 0 0 90px;
    background-color: #fff; */
  }
}
